@media screen and (max-width: 1020px) {
    .offers_header{
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media screen and (max-width: 950px) {
    .offers_th:nth-child(2), .offers_td:nth-child(2){
        min-width: 500px;
    }
}
@media screen and (max-width: 850px) {
    .offers_header{
        padding: 20px 0px 20px;
    }
    .offers_title{
        font-size: var(--font-size-11);
    } 
}
@media screen and (max-width: 750px) {
    .offers_th:nth-child(2), .offers_td:nth-child(2){
        min-width: 400px;
    }
    .offers_th .icon-arrow{
        font-size: var(--font-size-8); 
    }
    .offers_th{
        font-size: var(--font-size-5);
        padding: 0.75rem 0.25rem;
    }
    .offers_td{
        font-size: var(--font-size-5);
        padding: 0.75rem 0.25rem;
    }
    .badge {
        font-size: var(--font-size-5);
    }
    .offers_select {
        font-size: var(--font-size-5);
    }
}
@media screen and (max-width: 575px) {
    .offers_body{
        padding: 20px 5px;
    }
    .offers_title{
        font-size: var(--font-size-10);
    } 
    .offers_th:nth-child(2), .offers_td:nth-child(2){
        min-width: 350px;
    }
}
@media screen and (max-width: 475px) {
    .offers_title{
        font-size: var(--font-size-9);
        letter-spacing: 0.15rem;
    } 
    .offers_th .icon-arrow{
        font-size: var(--font-size-7); 
    }
    .offers_th{
        font-size: var(--font-size-4);
    }
    .offers_td{
        font-size: var(--font-size-4);
    }
    .badge {
        font-size: var(--font-size-4);
    }
    .offers_select {
        font-size: var(--font-size-4);
    }
    .offers_th:nth-child(2), .offers_td:nth-child(2){
        min-width: 300px;
    }
}
@media screen and (max-width: 375px) {
    .offers_title{
        letter-spacing: 0.1rem;
    } 
}