@media screen and (max-width: 800px) {
    .services_cards{
        grid-template-columns: 1fr;
        row-gap: 3rem;
        padding: 2rem 1rem;
        margin-top: 0rem;
    }
    .services_card{
        column-gap: 3rem;
    }    
    .home_services {
        padding: 3rem;
    }
}
@media screen and (max-width: 491px) {
    .services_cards{
        row-gap: 1rem;
        padding: 0;
    }  
    .services_card{
        column-gap: 0.5rem;
    } 
    .home_services {
        padding: 3rem 0.5rem;
    } 
}