@media screen and (max-width: 943px) {
    .statistics_chart{
        height:450px;
    }
}
@media screen and (max-width: 799px) {
    .statistics_box {
        padding: 1rem 0rem;
    }
    .statistics_chart{
        height:350px;
    }
}
@media screen and (max-width: 647px) {
    .statistics_chart{
        height:300px;
    }
    .statistics_body,.statistics_box {
        row-gap: 10px;
    }
    .statistics_box {
        padding: 10px;
    }
    .statistics_body{
        text-align: center;
    }
}
@media screen and (max-width: 565px) {
    .statistics_body {
        font-size: var(--font-size-4);
    }
    .statistics_chart{
        height:220px;
    }
}
@media screen and (max-width: 500px) {
    .statistics_body {
        font-size: var(--font-size-3);
    }
    .statistics_header{
        font-size: var(--font-size-6);
    }
    .statistics_body,.statistics_box {
        row-gap: 5px;
    }
    .statistics_box {
        padding: 1rem 0rem;
    }
    .statistics_chart{
        height:180px;
    }
    .statistics_body {
        text-align: justify;
        letter-spacing: 0;
        padding: 10px;
    }
}