.application{
    background-color:var(--white-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.application button{
    padding: 10px 20px;
    font-size: var(--font-size-6);
    border-radius: var(--border-radius);
    width:fit-content;
}
.application_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 200px 50px;
    margin-bottom: 30px;
    row-gap: 50px;
    width: 100%;
    background-image: url('../../img/bg/bg-blue.png');
    background-position: center;
    position: relative;
    border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%;
}
.application_title{
    font-size: var(--font-size-12);
    font-weight: var(--font-bolder);
    color: var(--yellow-color);
    text-transform: uppercase;
    -webkit-box-reflect: below -10px linear-gradient(transparent, rgba(0,0,0,.6));
    display: flex;
    flex-direction: row;
    justify-content: center;
    letter-spacing: 0.2rem;
}
.application_title span{
    position: relative;
    display: inline-block;
    animation: waviy 4s infinite;
    animation-delay: calc(.1s * var(--i));
}
@keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
}
.application_header p{
    font-size: var(--font-size-6);
    color: #fff;
    text-align: center;
}
.application_body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 30px;
    width: 90%;
    padding: 0 20px;
}
.application_box{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    font-size: var(--font-size-6);
    width:100%;
}
.application_label{
    min-width: 180px;
    text-align: right;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.required{
    color: red;
    font-size: var(--font-size-7);
    font-weight: var(--font-semi-bold);
}
.application_input{
    border:2px black solid;
    border-radius: var(--border-radius);
    width: 900px;
    padding: 10px 20px;
    font-size: var(--font-size-6);
    resize: none;
    height: 46px;
}
.application_input.textarea{
    height: auto;
}
.application_input:focus{
    border-color: var(--blue-color);
}
.application_box span{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.application_box button{
    display: flex;
    flex-direction: row;
    row-gap: 10px;
    background-color: var(--smoke-color);
    color: var(--black-color);
}
.application_box button:hover{
    border: 1px var(--blue-color) solid;
    background-color: var(--blue-color-light);
}
.applcation_footer{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    width:700px;
}
.applcation_footer button{
    background-color: var(--blue-color);
    color: #fff;
}
.applcation_footer button:hover{
    background-color: var(--blue-color-light);
}
.application_file{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;  
    column-gap: 5px;  
}
.application_file small{
    white-space: nowrap; /* Empêche le texte de se retourner à la ligne */
    overflow: hidden; /* Cache tout texte qui dépasse de l'élément */
    text-overflow: ellipsis; /* Affiche "..." lorsque le texte est coupé */
    width:200px;
}