@media screen and (max-width: 1330px) {
    .application_header{
        padding: 40px 0px 50px;
        row-gap: 30px;
    }
    .application_input{
        width:-webkit-fill-available;
        max-width: 700px;
    }
    .applcation_footer{
        width: -webkit-fill-available;
    }
}
@media screen and (max-width: 990px) {
    .application_header{
        padding: 20px 0px 30px;
        width:100%;
    }
    .application_title{
        letter-spacing: 0.1rem;
        font-size: var(--font-size-11);
    }
    .application_input{
        max-width: 650px;
    }  
    .application_header p{
        padding: 0px 10px;
    }  
}
@media screen and (max-width: 860px) {
    .application_header{
        align-items: center;
        width:100%;
    }
    .application_title{
        font-size: var(--font-size-10);
    }
    .application_input{
        max-width: 470px;
    }   
}
@media screen and (max-width: 773px) {
    .application_header{
        margin-bottom: 0px;
    }
    .application_body {
        padding: 0;
        row-gap: 0;
    }
    .application_box {
        padding: 10px 0;
    }
    .application_input{
        max-width: 400px;
    } 
    .select_options{
        font-size:var(--font-size-4);
    }
}
@media screen and (max-width: 645px) {
    .application_title{
        font-size: var(--font-size-9);
    }
    .application_header{
        row-gap: 20px;
    }
    .application_header p{
        font-size: var(--font-size-5);
    }    
    .application_input{
        max-width: 350px;
    } 
    .select_options{
        row-gap: 15px!important;
    }
}
@media screen and (max-width: 598px) {
    .application_header p{
        font-size: var(--font-size-4);
    } 
    .application_header{
        padding: 15px 5px;
    }
    .application_header p{
        text-align: center;
    }    
    .application_input{
        max-width: 300px;
    } 
    .application_file small{
       width:150px;
    }
}
@media screen and (max-width: 538px) {
    .application_header{
        row-gap: 15px;
    }
    .application_title{
        font-size: var(--font-size-8);
    }
    .application_input{
        padding: 5px;
    }
    .application button{
        padding: 10px;
        font-size: var(--font-size-4);
    }
    .application_label {
        min-width: 150px;
        font-size:  var(--font-size-6);
    }
    .application_box small{
        font-size:  var(--font-size-4);
    }
    .application_input {
        height: 40px;
    }
    .application_file small{
        width:170px;
     }
}
@media screen and (max-width: 472px) {
    .application_header {
        row-gap: 10px;
    }
    .application_header p{
        font-size: var(--font-size-3);
    } 
    .application_title{
        -webkit-box-reflect: unset;
    }
    .application_input{
        max-width: 250px;
    } 
    .select_options{
       row-gap: 10px!important;
    }
    .application_file small{
        width:120px;
    }
    .application_title {
        font-size:  var(--font-size-6);
    }
    .application_header p {
        font-size:  var(--font-size-3);
    }
    .application_label {
        min-width: 120px;
        font-size:  var(--font-size-4);
    }
    .application_box small{
        font-size:  var(--font-size-2);
    }
}
@media screen and (max-width: 400px) {
    .application_input{
        max-width: 190px;
    } 
    .select_options{
        font-size: var(--font-size-2);
    }
    .select_search input::placeholder {
        font-size: var(--font-size-4);
    }
    .application_file{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;  
        row-gap: 5px;  
    }
    .application_file small{
        width:150px;
    }
    .application_input{
        max-width: 190px;
    } 
}
@media screen and (max-width: 370px) {
    .application_title{
        letter-spacing: 0rem;
    }
    .application_input{
        max-width: 150px;
    } 
}