@media screen and (max-width: 1200px) {
    .article_header{
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media screen and (max-width: 800px) {
    .article_body{  
        width: 100%;
        padding: 30px 5px;
        column-gap: 0px;
    }
    .article_img img{
        min-width: 250px;
    }
    .article_list {
        margin-left: 20px;
    }
}
@media screen and (max-width: 760px) {
    .article_img img{
        min-width: 200px;
        min-height: 150px;
    } 
    .article_title{
        font-size: var(--font-size-8);
    }   
}
@media screen and (max-width: 670px) {
    .article_body{
        padding: 10px 30px;
    }
    .article_img{
        display: none;
    }    
    .article_content{
        width: 97%;
    }
    .article_title{
        letter-spacing: 0.3rem;
    } 
}
@media screen and (max-width: 590px) {
    .article_content h2 {
        font-size: var(--font-size-6);
    }
    .article_content p{
        font-size: var(--font-size-3);
    }
    .article_content p i{
        font-size: var(--font-size-3);
    }
    .article_content{
        font-size: var(--font-size-3);
    }
    .article_title{
        font-size: var(--font-size-6);
    }
}
@media screen and (max-width: 500px) {
    .article_header {
        margin-bottom: 10px;
    }
    .article_content h2 {
        font-size: var(--font-size-6);
    }
    .article_body {
        padding: 0px 10px 10px;
    }
}
@media screen and (max-width: 460px) {
    .accounting .article_title{
        font-size: var(--font-size-5);
        letter-spacing: 0.1rem;
    }
}
@media screen and (max-width: 380px) {
    .web_development .article_title{
        flex-direction: column;
        padding: 0px;
    }
}