@media screen and (max-width: 1200px) {
    .article_header{
        padding-left: 0px;
        padding-right: 0px;
    }
}
@media screen and (max-width: 800px) {
    .article_title{
        font-size: var(--font-size-10);
    }
    .article_body{  
        width: 100%;
        padding: 30px 5px;
        column-gap: 0px;
    }
    .article_content{
        font-size: var(--font-size-3);
    }
    .article_img img{
        min-width: 250px;
    }
    .article_list {
        margin-left: 20px;
    }
}
@media screen and (max-width: 720px) {
    .article_img img{
        min-width: 200px;
    }    
}
@media screen and (max-width: 650px) {
    .article_body{
        padding: 10px 30px;
    }
    .article_img{
        display: none;
    }    
}
@media screen and (max-width: 590px) {
    .article_title{
        font-size: var(--font-size-8);
    }
    .article_content h2 {
        font-size: var(--font-size-6);
    }
    .article_content p{
        font-size: var(--font-size-3);
    }
}
@media screen and (max-width: 480px) {
    .article_header {
        margin-bottom: 10px;
    }
    .article_title{
        font-size: var(--font-size-6);
    }
    .article_content h2 {
        font-size: var(--font-size-6);
    }
    .article_body {
        padding: 0px 10px 10px;
    }
}
@media screen and (max-width: 380px) {
    .article_title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 16px;
        -webkit-box-reflect: unset;
    }
}