@media screen and (max-width: 819px) {
    .signup_box:hover > .signup_input,.signup_input:focus{
        width: 300px;
        padding: 1.5rem;
    }
    .signup_box i{
        padding: 1.5rem 0;
    }
    .signup_btn{
        padding: 1.5rem;
    }    
}
@media screen and (max-width: 554px) {
    .signup_box:hover > .signup_input,.signup_input:focus{
        width: 200px;
        padding: 1rem;
    }
    .signup_input{
        font-size: var(--font-size-4);
    }
    .signup_box i{
        font-size: var(--font-size-10);
        padding: 1rem 0;
    }
    .signup_btn{
        padding: 1rem;
        font-size: var(--font-size-4);
    }
    .signup h1{
        font-size: var(--font-size-7);
    }      
}
@media screen and (max-width: 430px) {
    .signup_form {
        padding: 3rem 0.5rem;
    }
    .signup_box:hover > .signup_input,.signup_input:focus{
        width: 170px;
        padding: 0.75rem;
    }
    .signup_input{
        font-size: var(--font-size-3);
    }
    .signup_box i{
        font-size: var(--font-size-8);
        padding: 0.5rem 0;
    }
    .signup_btn{
        padding: 1rem;
        font-size: var(--font-size-3);
    }   
}